@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
  padding: 0;     
  margin: 0;     
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161A18;
  padding: 0 20rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3 {
  font-family: 'Bungee', cursive;
}

h4,h5,h6,p,input{
  font-family: 'Open Sans', sans-serif;
}



